.search-container {
    display: flex;
    align-items: center;
    background-color: #22272B;
    border: 1px solid #738496;
    border-radius: 4px;
    padding: 6px 10px;
    width: 170px;
    height: 20px;
  }
  
  .search-icon {
    color: #a2acbb;
    margin-right: 8px;
    width: 17px;
    height: 17px;
  }
  
  .search-bar {
    background: transparent;
    border: none;
    outline: none;
    color: #a2acbb;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 0;
  }
  
  .search-bar::placeholder {
    color: #a2acbb;
  }