.main-view-container {
    background-color: #1D2125;
    color: #1D2125;
    width: 100%;
    max-height: calc(100vh - 10px);
    padding-left: 32px;
    padding-top: 8px;
    padding-right: 32px;
    flex-grow: 1;
    overflow: auto;
}

.main-view-content {
    height: 79%;
}