.tasks-flex-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
    width: max-content;
}

.tasks-container {
    background-color: #161A1D;
    height: 100%;
    min-height: 600px;
    width: 270px;
    border-radius: 5px;
}

.tasks-container-title {
    color: #8C9BA7;
    margin-top: 12px;
    margin-left: 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.tasks-sliders {
    overflow: auto;
    height: 679px;
    white-space: nowrap;
    padding-bottom: 10px;
}

.tasks-sliders::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .tasks-sliders::-webkit-scrollbar-track {
    background: #1d2125;
    border-radius: 10px;
  }
  
  .tasks-sliders::-webkit-scrollbar-thumb {
    background-color: #686868; 
    border-radius: 10px;
  }
  
  .tasks-sliders::-webkit-scrollbar-thumb:hover {
    background-color: #7cb1f1;
  }