.tasks-flex-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px;
  width: max-content;
  overflow-x: auto;
}

.tasks-container {
  background-color: #161a1d;
  height: 100%;
  min-height: 600px;
  width: 270px;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  min-height: 400px;
  flex-shrink: 0;
  flex: 1;
}

.tasks-container:hover .create-issue-container {
  opacity: 1;
}

.tasks-container-title {
  color: #8c9ba7;
  margin-top: 4px;
  margin-left: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.tasks-sliders {
  overflow: auto;
  height: 100%;
  white-space: nowrap;
  padding-bottom: 10px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-height: 500px;
  width: 100%;
}

.tasks-sliders::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tasks-sliders::-webkit-scrollbar-track {
  background: #1d2125;
  border-radius: 10px;
}

.tasks-sliders::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 10px;
}

.tasks-sliders::-webkit-scrollbar-thumb:hover {
  background-color: #7cb1f1;
}

.temp-task-card {
  background-color: #22272b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #85b8ff;
  border-width: 2px;
  color: #9aa4b0;
  font-family: "Roboto", sans-serif;
  cursor: grab;
  min-height: 75px;
}

.temp-task-input {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  background-color: #9aa4b000;
  border-color: #21272c00;
  color: #7e8b9b;
}

.temp-task-input:focus {
  background-color: #ffffff00;
  border-color: #ffffff00;
  color: #7e8b9b;
  outline: none;
}

.task-card {
  position: relative;
  background-color: #22272b;
  padding: 10px;
  border-radius: 2px;
  color: #9aa4b0;
  font-family: "Roboto", sans-serif;
  cursor: grab;
}

.task-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75px;
  gap: 7px;
}

.task-card-flex:hover .more-button {
  opacity: 1;
  transition: 0.1s;
}

.task-card-text {
  margin-top: 5px;
  padding-top: 1px;
  margin-bottom: 0px;
  font-size: 14px;
  margin-bottom: 5px;
  text-wrap: wrap;
}

.task-properties-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-type-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.task-type-text {
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}

.task-type-icon {
  width: 16px;
  height: 16px;
}

.assigned-to-task-avatar {
  width: 28px;
  height: 28px;
}

.create-issue-container {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 35px;
  opacity: 0;

  transition: 0.1s;
}

.create-issue-container:hover {
  background-color: #21272c;
  border-radius: 3px;

  transition: 0.1s;
}

.create-issue-icon {
  width: 16px;
  height: 16px;
}

.create-issue-text {
  color: #9aa4b0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.temp-task-dropdown-wrapper {
  margin-top: 8px;
}

.temp-task-dropdown {
  background-color: #22272b;
  border: none;
  color: #9aa4b0;
  padding: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.temp-task-dropdown:focus {
  border: none;
}

.dropdowns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.more-button {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: none;
  left: 84%;
  z-index: 1;
  border: none;
  opacity: 0;
  background-color: #2b333a;
  padding: 0;
  border-radius: 3px;

  transition: 0.1s;
}

.more-button:hover {
  background-color: #374149;
}

.more-button-image {
  width: 20px;
  height: 20px;
}

.remove-task-button {
  position: absolute;
  left: 128px;
  top: 43px;

  padding-left: 5px;
  padding-right: 5px;
  z-index: 1;
  background-color: #282e33;
  border: 1px solid #39424a;
  border-radius: 3px;

  padding-left: 30px;
  padding-right: 30px;
}

.remove-text {
  color: #b6c2cf;
  margin-top: 5px;
  margin-bottom: 5px;
}
